# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.DotSettings.user
.vs/
*.sln.docstates

# Rider
.idea/

# Node
client/node_modules/
client/dist/
client/.vite/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

